.modal-bg
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 99999
  background-color rgba(0,0,0,0.5)

.contact-modal
  position fixed
  top 40px
  left 40px
  right 40px
  bottom 40px
  z-index 9999999
  background-color #fff
  border-radius 10px
  padding 40px
  box-sizing border-box
  overflow scroll
  display flex
  flex-flow column nowrap
  justify-content center
  display -webkit-flex
  -webkit-flex-flow column nowrap
  -webkit-justify-content center
  text-align center

  @media (max-width: 600px)
    top 20px
    left 20px
    right 20px
    bottom 20px

  i.close-modal
    font-size 40px
    color #aaa
    position absolute
    top 20px
    right 20px

    @media (max-width: 600px)
      font-size 26px

  h4
    color #11749a
    font-size 30px
    margin-bottom 20px

  p
    font-size 18px
    font-weight 300
    line-height 1.5
    max-width 60%
    box-sizing border-box
    margin 0 auto
    margin-bottom 10px

    @media (max-width: 600px)
      max-width 100%

.job-modal
  position fixed
  top 40px
  left 40px
  right 40px
  bottom 40px
  z-index 9999999
  background-color #fff
  border-radius 10px
  padding 40px
  box-sizing border-box
  overflow scroll

  @media (max-width: 600px)
    top 20px
    left 20px
    right 20px
    bottom 20px

  i.close-modal
    font-size 40px
    color #aaa
    position absolute
    top 20px
    right 20px

    @media (max-width: 600px)
      font-size 26px

  h1
    font-size 50px
    color #aaa
    font-weight 700
    margin-bottom 20px
    padding-bottom 10px
    border-bottom 1px solid #ddd

    @media (max-width: 600px)
      font-size 30px

    i
      margin-right 5px

  h4
    color #11749a
    margin-top 40px
    margin-bottom 10px

    i
      margin-right 5px

  p
    font-size 18px
    font-weight 300
    margin-bottom 10px

  ul
    margin-left 20px

    li
      font-size 18px
      font-weight 300
